.container{
  display: flex;
  flex-direction: column-reverse;
  margin: auto;
  width: 100%;
  background-color: chocolate;
  align-items: center;
}
.generate-button {
  order: 1;
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 1s;
}

.generate-button:hover {
  background-color: #382cdb;
}

.icons-list li{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  float:left;
}


/* showRegisteredUsers */

.users-table {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #88cf40;
  border-radius: 15px;
  width:50%;
  height:50%;
  position: absolute;
  top:25%;
  left:25%;
  font-size: 32px;
 }

.headers-row th{
  text-align: center;
  padding: 10px;
}

.data-row:nth-child(even){
  background-color: #b1d48d;
}

.data-row{
  text-align: center;
  padding-bottom: 10px;
}








